@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

/* -- General -- */
:root {
  --BlackColor: #272829;
  --WhiteColor: #ffffff;
  --BlueColor1: #0563bb;
  --BlueColor2: #067ded;
  --BlueColor3: #0678e3;
  --BlueColor4: #148af9;
  --BlueColor5: #47aeff;
  --GrayColor1: #e6e9ec;
  --GrayColor2: #f2f3f5;
  --DarkGrayColor: #45505b;
  --OrangeColor1: #ffa76e;
  --OrangeColor2: #ffbb2c;
  --SlateColor: #728394;
  --PinkColor: #e80368;
  --RedColor1: #ff5828;
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--BlackColor);
  text-align: center;
}

a {
  color: var(--BlueColor1);
  text-decoration: none;
}

a:hover {
  color: var(--BlueColor2);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-image: #ff0000;
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 85%, 93%, 1) 0, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0, transparent 50%);
  background-size: 400% 400%;
  position: relative;
  animation: gradient 5s ease infinite;
}

#hero h1 {
  font-size: 2.5em;
  font-weight: 700;
  background: linear-gradient(
      40deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(221, 221, 221, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    ),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0, transparent 50%);
  background-clip: text;
  background-size: contain;
  animation: gredient 5s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Cinzel Decorative", cursive !important;
}
#hero p .typed {
  color: var(--WhiteColor);
}
#hero p {
  color: var(--DarkGrayColor);
  margin: 15px 0 0 0;
  font-size: 1.2em;
  font-family: "Source Code Pro", monospace !important;
}
#hero p span {
  color: var(--BlueColor1);
  letter-spacing: 1px;
}
#hero .social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 2em;
  padding: 1em;
}
#hero .social-links a {
  font-size: 1.2em;
  display: inline-block;
  color: var(--DarkGrayColor);
  line-height: 1;
  text-align: left;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: var(--BlueColor1);
  cursor: pointer;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
